{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получаете это письмо, потому что запросили сброс пароля
для вашей учетной записи пользователя на {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}

{% trans "https://neomedtech-my-baby.herokuapp.com"%}{% url 'confirm-email' uidb64=uid token=token %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}Команда {{ site_name }} {% endblocktrans %}

{% endautoescape %}